.clickBox{
    width: 200px;
    height: 200px;
    background-color: red;
}

.buttonStyle{
    padding: 10px 20px;
    font-size: 16px;
    background-color: pink;
    border: none;
    border-radius: 20px;
    color: black;
    transition: background-color 1.0s ease;
    transition: color 1.0s ease;

}

.buttonStyle:hover{
    background-color: deeppink;
    color: white;

}

.showHideContainer{
    width: 300px;
    height: 150px;
    background-color: lightgray;
    margin-top: 10px;
    padding: 10px;
    visibility: visible;
}

.showHideContainer.hide{
    visibility: hidden;
}

.tabSection{
    min-height: 100px;
}